<section>
  <div class="page-header">
    <h5>Analytics (13): Geo</h5>
  </div>
  <div class="list-group">
      <form>
          Latitude : <input type="number" step="any" ng-model="center.lat">
          Longitude : <input type="number" step="any" ng-model="center.lng">
          Zoom : <input type="number" step="any" ng-model="center.zoom">
      </form>

      <leaflet width="100%" height="480px" center="center"></leaflet>

  </div>

 <div>

    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.articles.$resolved && !vm.articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
